@import '../assets/styles/core/main';

nav {
  background: $red;
  color: $white;
  padding: 20px 0;
  margin: 0;
  @media (min-width: $screen-tablet) {
    height: 170px;
  }    
  @media (max-width: $screen-tablet) {
    padding-bottom: 0;
  }    
  
  .pd-header {
    &__logo {
      width: 130px;
    }
    &__text {
      font-size: $font-xxl;
      font-weight: $font-weight-bold;
      margin-left: 10px;
      position: relative;
      top: -30px;
      text-shadow: 2px 3px 2px $gray;
      @media (max-width: $screen-desktop) {
        top: 0;
      }
    }
    @media (max-width: $screen-desktop-large) {
      &__logo {
        width: 115px;
      }
      &__text {
        font-size: $font-xl;
        font-weight: $font-weight-bold;
      }
    }
  }

  .navbar-toggle {
    margin: 0 15px 20px;
  }

  a {
    color: $white;
    cursor: pointer;
    font-size: $font-l;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: $yellow;
    }
  }
}

.navbar-right {
  text-align: center;
  li {
    a {
      margin-left: 5px;
    }
    &.active {
      a {
        background-color: transparent;
        color: $yellow;
        @media (min-width: $screen-tablet) {
          border: 1px solid;
        }
      }
    }
  }
  @media (min-width: $screen-tablet)and (max-width: $screen-desktop) {
    margin-top: 10px;
    li {
      a {
        font-size: $font-l;
        margin-left: 0;
      }
    }
  }

  .fa {
    display: block;
    margin-bottom: 6px;
    font-size: $font-xl;
  }

  .tel {
    font-size: $font-xl;
    padding-right: 0;
    + span {
      display: block;
    }
    .fa {
      display: inline-block;
      margin-right: 7px;
    }
    @media (min-width: $screen-tablet) {
      + span {
        text-align: right;
      }
    }      
  }
}

