<header class="pd-header">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        <a routerLink="">
          <img
            class="pd-header__logo hidden-xs hidden-sm"
            src="http://www.davidchuschinabistro.com/images/restaurant-logo_large.png"
            alt="logo">
          <span class="pd-header__text">Demo Restaurant Bistro</span>
        </a>
      </div>
      
      <!-- <img src="" alt="logo-123"> -->
      
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active">
            <a routerLink="/menu">
              <span class="fa fa-cutlery"></span>
              <span class="">Menu</span>
          </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/about">
              <span class="fa fa-info-circle"></span>
              <span class="">About</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/contact">
              <span class="fa fa-envelope-o"></span>
              <span class="">Contact</span>
            </a>
          </li>
          <li>
            <a class="tel" href="tel:+49-12345-6789"><i class="fa fa-phone"></i>+49-12345-6789</a>
            <span class="text-right">* We Deliver</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
