@import '../assets/styles/core/main';

footer {
  background: $dark-gray;
  color: $white;
  padding: 15px 0;
  font-size: $font-m;
}
.pd-footer {
  &__info {
    padding-bottom: 20px; 
  }

  .note {
    font-size: $font-s;
    color: $green;
  }

  blockquote {
    border-left: none;
    text-indent: -12px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: $font-weight-light;
  }

  &__copyright {
    border-top: 1px solid;
    padding-top: 7px;
    font-size: $font-s;
  }

  p {
    i {
      margin-right: 6px;
      color: $light-green;
      &.fa-calendar-times-o {
        color: $light-red;
      }
    }
  }

}