<footer class="pd-footer">

  <div class="container">
    <div class="row pd-footer__info">
      <div class="col-lg-4 pd-footer__info_opening">
        <h3 class="">Hours</h3>
        <p>Mon-Thu: 11:15am - 10:00pm</p>
        <p>Fri: 11:15am - 2:30pm</p>
        <p>Weekend Closed</p>
      </div>
      <div class="col-lg-4 pd-footer__info_address">
        <h3 class="">Address</h3>
        <p>Berlin Hauptbahnhof</p>
        <p>Europaplatz 1,</p>
        <p>10557 Berlin</p>
        <span class="note">
        * Delivery area within 3-4 miles, with minimum order
         of $20 plus $3 charge for all deliveries.
      </span>
      </div>
      <div class="col-lg-4 pd-footer__info_quotes">
        <blockquote class="pd-font-lora">
          <span class="fa fa-quote-right"></span>
          The best Chinese restaurant I've been to! And that's saying a lot, since I've been to many!
        </blockquote>
        <blockquote class="pd-font-lora">
          <span class="fa fa-quote-right"></span>          
          Amazing food! Great service! Couldn't ask for more! I'll be back again and again!"
        </blockquote>
      </div>
    </div>
    <div class="row text-center pd-footer__copyright">
      &copy; Duong Pham Demo Restaurant | 2017
    </div>
  </div>

</footer>