<div class="row pd-about">

  <h1 class="text-center pd-font-title">About This Website</h1>

  <div> I did attend one of the best AngularJS (1.x) courses named <a href="https://www.coursera.org/learn/single-page-web-apps-with-angularjs"
      target="_blank">Single Page Web Applications with AngularJS</a>. In the end of this course, students have a chance to
    build a real project with AngularJS.
    <a href="http://www.davidchuschinabistro.com/index.html#/" target="_blank">Here </a> is one sample project. <br> <br>
    <p>
      Six months ago I started working with Angular 2, 4 (or Angular in short) for our project. Angular is quite different from
      AngularJS. So I want to build the same website using Angular.
    </p>

    <h3>References:</h3>
    <ul>
      <li>Assets e.g. logo, images: <a href="https://github.com/jhu-ep-coursera/restaurant-server" target="_blank">https://github.com/jhu-ep-coursera/restaurant-server</a></li>
      <li>Backend provides JSON API: <a href="https://duong-restaurant-server.herokuapp.com" target="_blank">https://duong-restaurant-server.herokuapp.com</a></li>
      <li>Backend stores contacts: <a href="https://firebase.google.com/" target="_blank">https://firebase.google.com/</a></li>
    </ul>

  </div>

</div>