@import '../assets/styles/core/main';

.pd-home {
  padding: 20px 0 20px;
  &__top {
    img {
      width: 100%;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 4px 2px $gray;
      -moz-box-shadow: 0 0 4px 2px $gray;
      box-shadow: 0 0 4px 2px $gray;
    }
  }
  &__list {
    margin: 30px 0;
    &_item {
      &.left {
        padding-left: 0;
      }
      &.right {
        padding-right: 0;
      }
      &.middle {
        padding: 0 7.5px;
      }
    }
    agm-map {
      height: 250px;
      @media (max-width: $screen-lg-desktop) {
        height: 205px;
      }
    }
    img {
      width: 100%;
    }
  }
}